<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secrets</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="web icon" href="/icons/key.png">
    <link rel="stylesheet" href="/personalinfo.css">
</head>
<body>

    <div class=container>


    <div class="header">Personal Information</div>

    <hr>

    
    <div class="input-group mb-3">
        
        <div class="input-container">

        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1" style="border-radius: 5px 0 0 5px;">Name</span>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" style="border-radius: 0 5px 5px 0;" value="<%= name %>" readonly>
        </div>
        

        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" style="border-radius: 5px 0 0 5px;">Surname</span>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" style="border-radius: 0 5px 5px 0;" value="<%= surname %>" readonly>
          </div>
         

          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" style="border-radius: 5px 0 0 5px;">Email</span>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" style="border-radius: 0 5px 5px 0;" value="<%= email %>" readonly>
          </div>
          

          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" style="border-radius: 5px 0 0 5px;">Password</span>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" style="border-radius: 0 5px 5px 0;" value="<%= password %>" readonly>
          </div>
          

          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" style="border-radius: 5px 0 0 5px;">Birthday</span>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" style="border-radius: 0 5px 5px 0;" value="<%= birthday %>" readonly>
          </div>
          

          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" style="border-radius: 5px 0 0 5px;">Gender</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" style="border-radius: 0 5px 5px 0;" value="<%= gender %>" readonly>
          </div>
          
        </div>

      </div>
      </div>


    </div>

</body>
</html>